openapi: 3.2.0
info:
  title: Nih Version API
  version: '1.0'
  description: 'Operations tagged Version across 2 of this provider''s published API definitions: clinicaltrials-v2.json, ncbi-datasets-v2.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://clinicaltrials.gov/api/v2
  description: This server
- url: https://api.ncbi.nlm.nih.gov/datasets/v2
tags:
- name: Version
  description: Version info
paths:
  /version:
    get:
      summary: Version
      description: 'API and data versions.


        API version follows [Semantic Versioning 2.0.0 Schema](https://semver.org/spec/v2.0.0.html).

        Data version is UTC timestamp in `yyyy-MM-dd''T''HH:mm:ss` format.'
      tags:
      - Version
      operationId: version
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Version'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/errorMessage'
    servers:
    - url: https://clinicaltrials.gov/api/v2
      description: This server
components:
  schemas:
    errorMessage:
      type: string
      description: A text message describing an error
    Version:
      type: object
      properties:
        apiVersion:
          type: string
        dataTimestamp:
          type: string
      additionalProperties: false
      required:
      - apiVersion
    protobufAny:
      type: object
      properties:
        type_url:
          type: string
        value:
          type: string
          format: byte
    rpcStatus:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/protobufAny'
    v2VersionReply:
      type: object
      properties:
        version:
          type: string
        major_ver:
          type: integer
        minor_ver:
          type: integer
        patch_ver:
          type: integer
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: api_key
    ApiKeyAuthHeader:
      type: apiKey
      in: header
      name: api-key
x-refined-from:
- clinicaltrials-v2.json
- ncbi-datasets-v2.yaml
